# A .gitignore for Keil projects.
# Taken mostly from http://www.keil.com/support/man/docs/uv4/uv4_b_filetypes.htm

#Folder MDK-ARM

*.scvd
*.uvguix.*
*.lst

#Folder MDK-ARM\RD135EFI

*.axf
*.crf
*.d
*.dep
*.hex
*.iex
*.lnp
*.map
*.htm
*.o
*.sct